body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    color: #ff0000;
}

p {
    font-size: 16px;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

a {
    color: #007bff;
    text-decoration: none;
}

